body {
    margin: 0;
    width: 100%;
    font-family: "Lora";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: #f5f5f5;
    display: flex;
    cursor: default;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

header .logo {
    height: 2.5em;
    display: inline-block;
    margin-right: .7em;
}

header h1 {
    display: inline-block;
    margin: 0;
}

header h1 > a {
    color: black;
    text-decoration: none;
}

main {
    padding: 1.5em;
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
}

main h1 {
    font-size: 1.8em;
    text-align: center;
}

main p {
    text-align: justify;
}

main > :first-child {
    margin-top: 0;
}

main form {
    width: 100%;
    box-sizing: border-box;
}

main input,
main button,
a.linkbutton {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin-bottom: .5em;
    border: 1px solid #ccc;
    padding: .5em;
    border-radius: 5px;
    background-color: #f8f8f8;
    font-size: 1.1em;
    font-family: "Quicksand";
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

a.linkbutton {
    text-decoration: none;
    color: black;
    text-align: center;
}

main input[type="submit"],
main button,
a.linkbutton {
    cursor: pointer;
}

main input[type="submit"]:hover,
main button:hover,
a.linkbutton:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-top: auto;
}

footer > p {
    margin: 0;
}

.error {
    color: red;
    margin-top: .5em;
    margin-bottom: .5em;
}

.success {
    color: rgb(29, 190, 29);
    margin-top: .5em;
    margin-bottom: .5em;
}

/* custom css for hr-code */

#output-canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: red;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: none;
}